p {
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;

  ul,
  ol {
    margin-top: 0.5em;
  }
}

table {
  margin-bottom: 24px;
  width: 100%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-collapse: collapse;

  td,
  th {
    padding: 8px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
