---
layout: default
---

<nav class="navigation" role="navigation">
  {% assign sections = site.pages | group_by: 'section_order' | sort: 'name' %}
  <ul class="navigation__list navigation__list--level-1">
    {% for section in sections %}
      {% if section.items[0].section %}
        <li class="navigation__section">
          <strong class="navigation__section-heading">{{ section.items[0].section }}</strong>
          <ul class="navigation__list navigation__list--level-2">
            {% for item in section.items %}
              <li>
                <a href="{{ item.url }}">
                  {% if item.alias %}
                    {{ item.alias | escape }}
                  {% else %}
                    {{ item.title | escape }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
